vite.config.*.timestamp*
vitest.config.*.timestamp*

dist/
out-tsc/
node_modules/
.nx/
.DS_Store

.firebase/

# Next.js
.next
out
test-output

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache